
beautifulsoup4==4.12.3
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl#sha256=37e9f1f6a278a5138fabdabcc92cc559da917f9b24c76f0adf6758720d7eab10
lxml==5.1.0
nltk==3.8.1
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
